<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>
    <mark>Экстен Денис Николаевич</mark>
</h1>

<img src="https://sun9-62.userapi.com/impf/c855520/v855520533/5d9e5/-Q_xXKlnG2Q.jpg?size=1080x1080&quality=96&sign=4e88fe89e78fcad7fd7a26a3e4adb0cd&type=album" width="300"/>
<hr>
<p>
    Красивый, симпотичный и просто хороший парень.<br>
    Кто не верит - может <strong><em><ins>подписаться и поставить</ins></em></strong>  лайк <a href="https://vk.com/life_is_beautifu1"><strong>тут.</strong></a>
</p>
<div>
    Возраст: 23<br>
    Рост: 181 см<br>
    Скилл: обояшка<br>
    Супер <del>Начинающий</del> программист
</div>


</body>
</html>